<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create New Activity</title>
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            rel="stylesheet"
    />
</head>
<body>
<div class="container">
    <h3>Create New Activity</h3>

    <form
            method="post"
            th:action="@{/activity/create}"
            th:object="${activity}"
    >
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input
                    class="form-control mb-4 col-4"
                    id="nameInput"
                    placeholder="Enter activity' name"
                    th:field="*{name}"
                    type="text"
            />
        </div>
        <div class="form-group">
            <label for="dayInput">Day</label>
            <select
                    class="form-control selectpicker mb-4 col-4"
                    id="dayInput"
                    th:field="*{day}"
            >
                <option value="">Nothing selected</option>
                <option
                        th:each="day : ${T(id.ac.ui.cs.advprog.tutorial0.model.Day).values()}"
                        th:text="${day}"
                        th:value="${day}"
                >
                    day
                </option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<script
        crossorigin="anonymous"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
></script>
</body>
</html>
